
#grid-container { display: grid;}

  #nav {
        grid-row-start: 1;  
        grid-row-end: 2;  
        grid-column-start: 1;  
        grid-column-end: 3;
        display:  flex;
          justify-content: space-evenly;
      }

 #photo { 
        grid-row-start: 2;  
        grid-row-end: 3;  
        grid-column-start: 1;  
        grid-column-end: 2;
        display:  flex;
          justify-content: space-around;
      }     

#contact-information { 
        grid-row-start: 2;  
        grid-row-end: 3;  
        grid-column-start: 2;  
        grid-column-end: 3;
      }

#professional-experiance { 
        grid-row-start: 3;  
        grid-row-end: 4;  
        grid-column-start: 1;  
        grid-column-end: 3;
      }

#skills { 
        grid-row-start: 4;  
        grid-row-end: 5;  
        grid-column-start: 1;  
        grid-column-end: 3;
      }

img { max-width: 100%; 
      margin-top: 20px;
}
body {
  font-family: arial;
}
a:link {
  color: steelblue;
}
a:visited {
  color: gray;
}
a:hover {
  color:  orange;
}
ul {
  line-height: 32px;
  letter-spacing: 1px;
  list-style-type: none;
  font-family: 'Mukta', sans-serif;
}
ul li::before {
  content: "\2022";
  color: steelblue;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
h1 {
  background-color: steelblue;
  font-size: 40px;
  text-align: center;
  color: white;
  font-family: 'Mukta', sans-serif;
}
h2 {
  text-align: center;
  font-size: 25px;
  background-color: gray;
  color: white;
  font-family: 'Mukta', sans-serif;
}
h3 {
  text-align: center;
  font-size: 25px;
  background-color: gray;
  color: white;
  font-family: 'Mukta', sans-serif;
}
h4 {
  text-align: center;
  font-size: 25px;
  background-color: gray;
  color: white;
  font-family: 'Mukta', sans-serif;
}
h5 {
  text-align: center;
  font-size: 25px;
  background-color: gray;
  color: white;
  font-family: 'Mukta', sans-serif;
}
