
body 
{
  font-family: arial;
}

a:link {
  color: gray;
}
a:visited {
  color: steelblue;
}
a:hover {
  color:  orange;
}
ul {
  line-height: 32px;
  letter-spacing: 1px;
  list-style-type: none;
  font-family: 'Mukta', sans-serif;
}

ul li::before {
  content: "\2022";
  color: steelblue;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

h1 {
  background-color: steelblue;

  font-size: 40px;
  text-align: center;
  color: white;
  font-family: 'Mukta', sans-serif;
}
h2 {
  text-align: center;
  font-size: 25px;
  background-color: gray;
  color: white;
  font-family: 'Mukta', sans-serif;
}
h3
 {
  text-align: center;
  font-size: 25px;
  background-color: gray;
  color: white;
  font-family: 'Mukta', sans-serif;
}
h4 {
  text-align: center;
  font-size: 25px;
  background-color: gray;
  color: white;
  font-family: 'Mukta', sans-serif;
}
h5 {
  text-align: center;
  font-size: 25px;
  background-color: gray;
  color: white;
  font-family: 'Mukta', sans-serif;
}
